@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Last Service</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Last Box</h2>
        <p>
            In Case of Total Project Failure, Select Button Below.
        </p>
        <p><a class="btn btn-default" href="http://boxes.mysubscriptionaddiction.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Started</h2>
        <p>To start receiving customized boxes immediately, Sign Up below!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ready For Your Last Box?</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>