@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>OmegaBox</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Disable Self-Destruct</h2>
        <p>
            In Case of Total Project Failure, Select Button Below.
        </p>
        <p><a class="btn btn-default btn-danger" href="http://boxes.mysubscriptionaddiction.com/">EMERGENCY BUTTON &Omega;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Started</h2>
        <p>To start receiving customized boxes immediately, Sign Up below!</p>
        <p><a class="btn btn-lg active" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &Omega;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Omega Boxes</h2>
        <p>Browse our Boxes</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Browse &Omega;</a></p>
    </div>


</div>